---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml

helmCharts:
  - name: operators-installer
    releaseName: openshift-cert-manager-operator
    namespace: cert-manager-operator
    repo: https://redhat-cop.github.io/helm-charts
    version: "3.0.1"
    valuesInline:
      operators:
        - channel: <REPLACE>
          installPlanApproval: Automatic
          name: openshift-cert-manager-operator
          source: redhat-operators
          sourceNamespace: openshift-marketplace
      operatorGroups:
        - targetOwnNamespace: true
