---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: openshift-gitops

helmCharts:
  - name: argocd-image-updater
    releaseName: argocd-image-updater
    namespace: openshift-gitops
    repo: https://argoproj.github.io/argo-helm
    version: "0.11.4"
    valuesInline:
      image:
        tag: "v0.15.0"
