fullnameOverride: "argocd"
crds:
  install: true
  # -- Keep CRDs on chart uninstall
  keep: false
configs:
  params:
    server.insecure: true
    controller.diff.server.side: true
  cm:
    statusbadge.enabled: true
    kustomize.buildOptions: "--enable-alpha-plugins --enable-exec  --load-restrictor LoadRestrictionsNone"
  secret:
    argocdServerAdminPassword: $2a$10$GRTeAT.0uRW2HUk59OJn6OjYtWPROWimrka/EGkgDUsiNvmyep05e
    argocdServerAdminPasswordMtime: 2025-08-26T18:15:18
repoServer:
  deploymentAnnotations:
    reloader.stakater.com/auto: "true"
  extraContainers:
    - name: setenv-plugin
      command: [/var/run/argocd/argocd-cmp-server]
      env:
        - name: XDG_CONFIG_HOME
          value: /etc/kustomize/plugin/viaduct.ai/v1/ksops
        - name: SOPS_AGE_KEY_FILE
          value: /.config/sops/age/keys.txt
        - name: KUSTOMIZE_PLUGIN_HOME
          value: /etc/kustomize/plugin
      envFrom:
        - secretRef:
            name: environment-variables
      image: quay.io/raffaelespazzoli/raffa-envsub:1.1
      securityContext:
        runAsNonRoot: true
        runAsUser: 999
      imagePullPolicy: Always
      volumeMounts:
        - mountPath: /var/run/argocd
          name: var-files
        - mountPath: /home/argocd/cmp-server/plugins
          name: plugins
        - mountPath: /tmp
          name: tmp
        - mountPath: /home/argocd/cmp-server/config/plugin.yaml
          subPath: plugin.yaml
          name: setenv-cmp-plugin
        - mountPath: /etc/kustomize/plugin/viaduct.ai/v1/ksops
          name: ksops-generator
        - mountPath: /.config/sops/age/keys.txt
          name: sops-age
          subPath: keys.txt
  serviceAccount:
    create: true
    name: argocd-repo-server
  rbac:
    - apiGroups:
        - ""
      resources:
        - secrets
      verbs:
        - get
  env:
    - name: XDG_CONFIG_HOME
      value: /etc/kustomize/plugin/viaduct.ai/v1/ksops
    - name: SOPS_AGE_KEY_FILE
      value: /.config/sops/age/keys.txt
    - name: KUSTOMIZE_PLUGIN_HOME
      value: /etc/kustomize/plugin
  volumes:
    - name: ksops-generator
      emptyDir: {}
    - name: sops-age
      secret:
        secretName: helm-secrets-private-keys
    - name: setenv-cmp-plugin
      configMap:
        name: setenv-cmp-plugin
  volumeMounts:
    - mountPath: /etc/kustomize/plugin/viaduct.ai/v1/ksops
      name: ksops-generator
    - mountPath: /.config/sops/age/keys.txt
      name: sops-age
      subPath: keys.txt
  initContainers:
    - name: install-ksops-generator
      resources: {}
      image: viaductoss/ksops:v4.1.0
      command: ["/bin/sh", "-c"]
      args:
        - 'echo "Installing KSOPS..."; cp ksops /ksops-generator/ksops; echo "Done.";'
      volumeMounts:
        - mountPath: /ksops-generator
          name: ksops-generator
