---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: openshift-keda
resources:
  - namespace.yaml
  - operator-group.yaml
  - subscription.yaml

generatorOptions:
  disableNameSuffixHash: true
