---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: openshift-pipelines
resources:
  - ./tekton-config.yaml
  - ./pac-externalsecret.yaml
  - ./task-s2i.yaml
  - ./task-kube-tools.yaml
  - ./task-helm-uninstall.yaml
  - ./task-rhacs-image-scan.yaml
  - ./task-helm-upgrade-from-source.yaml
