---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./route.yaml

helmCharts:
  - name: argo-workflows
    releaseName: argo-workflows
    namespace: openshift-gitops
    repo: https://argoproj.github.io/argo-helm
    version: "0.45.4"
