---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: pull-secret-{{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: pull-secret-{{ .Release.Name }}
    creationPolicy: Owner
  data:
    - secretKey: .dockerconfigjson
      remoteRef:
        key: redhat-pull-secret
        property: pull-secret
