---
apiVersion: external-secrets.io/v1alpha1
kind: ExternalSecret
metadata:
  name: pull-secret-{{ .Release.Namespace }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "infra-env.labels" . | nindent 4 }}
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: pull-secret-{{ .Release.Namespace }}
    creationPolicy: Owner
  data:
    - secretKey: .dockerconfigjson
      remoteRef:
        conversionStrategy: Default
        decodingStrategy: None
        metadataPolicy: None
        key: redhat-pull-secret
        property: pull-secret
