controllers:
  bytestash:
    annotations:
      reloader.stakater.com/auto: "true"
    containers:
      app:
        image:
          repository: ghcr.io/jordan-dalby/bytestash
          tag: 1.5.8
        env:
          TZ: "America/New_York"
          TOKEN_EXPIRY: 24h
          ALLOW_NEW_ACCOUNTS: "false"
          DEBUG: "true"
          DISABLE_ACCOUNTS: "false"
          DISABLE_INTERNAL_ACCOUNTS: "true"
          OIDC_ENABLED: "true"
          OIDC_DISPLAY_NAME: "Authentik"
          OIDC_ISSUER_URL: "https://id.vikaspogu.com/application/o/bytestash/"
          OIDC_SCOPES: "openid profile email"
        envFrom:
          - secretRef:
              name: bytestash-secret
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          capabilities: { drop: ["ALL"] }
        resources:
          requests:
            cpu: 100m
          limits:
            memory: 512Mi
service:
  app:
    ports:
      http:
        port: 5000

persistence:
  data:
    type: hostPath
    hostPath: /srv/dev-disk-by-uuid-9d2e4cb9-8825-4168-8153-e020ee524474/storage0/bytestash
    globalMounts:
      - path: /data/snippets
