---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: operators-installer
    releaseName: openshift-logging-operator
    namespace: openshift-logging
    repo: https://redhat-cop.github.io/helm-charts
    version: "3.0.1"
    valuesInline:
      operators:
        - channel: stable-6.1
          installPlanApproval: Automatic
          name: cluster-logging
          source: redhat-operators
          sourceNamespace: openshift-marketplace
      operatorGroups:
        - createNamespace: true
