#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   https://www.haproxy.org/download/1.8/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

    # utilize system-wide crypto-policies
    #ssl-default-bind-ciphers PROFILE=SYSTEM
    #ssl-default-server-ciphers PROFILE=SYSTEM

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    tcp
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000
#---------------------------------------------------------------------
# main frontend which proxy's to the backends
#---------------------------------------------------------------------
listen stats
    bind :9000
    mode http
    stats enable
    stats uri /
    monitor-uri /healthz

frontend api
    bind *:6443
    default_backend controlplaneapi

frontend machineconfig
    bind *:22623
    default_backend controlplanemc

frontend tlsrouter
    bind *:443
    default_backend secure

frontend insecurerouter
    bind *:80
    default_backend insecure

#---------------------------------------------------------------------
# static backend
#---------------------------------------------------------------------

backend controlplaneapi
    balance source
    server {{ vms_info[0].name }} {{ vms_info[0].ipadd }}:6443 check
    server {{ vms_info[1].name }} {{ vms_info[1].ipadd }}:6443 check
    server {{ vms_info[2].name }} {{ vms_info[2].ipadd }}:6443 check
    server {{ vms_info[3].name }} {{ vms_info[3].ipadd }}:6443 check


backend controlplanemc
    balance source
    server {{ vms_info[0].name }} {{ vms_info[0].ipadd }}:22623 check
    server {{ vms_info[1].name }} {{ vms_info[1].ipadd }}:22623 check
    server {{ vms_info[2].name }} {{ vms_info[2].ipadd }}:22623 check
    server {{ vms_info[3].name }} {{ vms_info[3].ipadd }}:22623 check

backend secure
    balance source
    server {{ vms_info[4].name }} {{ vms_info[4].ipadd }}:443 check
    server {{ vms_info[5].name }} {{ vms_info[5].ipadd }}:443 check
    server {{ vms_info[6].name }} {{ vms_info[6].ipadd }}:443 check

backend insecure
    balance source
    server {{ vms_info[4].name }} {{ vms_info[4].ipadd }}:80 check
    server {{ vms_info[5].name }} {{ vms_info[5].ipadd }}:80 check
    server {{ vms_info[6].name }} {{ vms_info[6].ipadd }}:80 check
