controllers:
  main:
    pod:
      securityContext:
        runAsUser: 999
        runAsGroup: 999
      annotations:
        reloader.stakater.com/auto: "true"
    containers:
      main:
        image:
          repository: docker.io/1password/connect-api
          tag: 1.7.2
        env:
          OP_BUS_PORT: "11220"
          OP_BUS_PEERS: "localhost:11221"
          OP_HTTP_PORT: &port 8080
          OP_SESSION:
            valueFrom:
              secretKeyRef:
                name: onepassword-connect-secret
                key: onepassword-credentials.json
        resources:
          requests:
            cpu: 5m
            memory: 10Mi
          limits:
            memory: 100Mi
        probes:
          liveness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /heartbeat
                port: *port
              initialDelaySeconds: 15
              periodSeconds: 30
              failureThreshold: 3
          readiness:
            enabled: true
            custom: true
            spec:
              httpGet:
                path: /health
                port: *port
              initialDelaySeconds: 15
          startup:
            enabled: false
      sync:
        image:
          repository: docker.io/1password/connect-sync
          tag: 1.7.2@sha256:fe527ed9d81f193d8dfbba4140d61f9e8c8dceb0966b3009259087504e5ff79c
        env:
          - name: OP_SESSION
            valueFrom:
              secretKeyRef:
                name: onepassword-connect-secret
                key: onepassword-credentials.json
          - name: OP_HTTP_PORT
            value: &port 8081
          - name: OP_BUS_PORT
            value: "11221"
          - name: OP_BUS_PEERS
            value: "localhost:11220"
        probes:
          readiness:
            httpGet:
              path: /health
              port: *port
            initialDelaySeconds: 15
          liveness:
            httpGet:
              path: /heartbeat
              port: *port
            failureThreshold: 3
            periodSeconds: 30
            initialDelaySeconds: 15
        volumeMounts:
          - name: shared
            mountPath: /home/opuser/.op/data
service:
  main:
    ports:
      http:
        port: 8080

ingress:
  main:
    enabled: false

persistence:
  shared:
    type: emptyDir
    globalMounts:
      - path: /home/opuser/.op/data
