---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ./external-secret.yaml
  - ./route.yaml
  - ./external-secret-regred.yaml

generatorOptions:
  disableNameSuffixHash: true

helmCharts:
  - name: devlake
    releaseName: devlake
    namespace: apache-devlake
    repo: https://apache.github.io/incubator-devlake-helm-chart
    version: "1.0.0"
    valuesInline:
      lake:
        encryptionSecret:
          secretName: "devlake"
          autoCreateSecret: false
        envs:
          REMOTE_PLUGIN_DIR: ""
          DISABLED_REMOTE_PLUGINS: "true"
          LOGGING_DIR: "/tmp/logs"
      ui:
        basicAuth:
          enabled: true
          autoCreateSecret: false
          secretName: "devlake"
      grafana:
        initChownData:
          enabled: false
        securityContext: {}
        admin:
          existingSecret: "devlake"
          userKey: admin-user
          passwordKey: admin-password

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/securityContext
        value: {}
    target:
      kind: Deployment
      name: devlake-grafana
